.case-vandute-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .case-vandute-wrapper h1, h2 {
    text-align: center;
  }
  
  .case-vandute-wrapper table {
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .case-vandute-wrapper table, th, td {
    border: 1px solid black;
  }
  
  .case-vandute-wrapper th, td {
    padding: 10px;
    text-align: left;
  }
  
  .case-vandute-wrapper td.detalii-casa {
    max-width: 150px; /* Dimensiunea fixă pentru coloana Detalii Casa */
    overflow: auto; /* Scroll pentru conținutul care depășește dimensiunea fixă */
    white-space: nowrap; /* Previne ruperea textului */
  }
  
  .case-vandute-wrapper form {
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .case-vandute-wrapper input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box; /* Asigură că padding-ul este inclus în lățimea totală */
  }
  
  .case-vandute-wrapper textarea {
    resize: vertical; /* Permite redimensionarea doar pe verticală */
  }
  
  .case-vandute-wrapper button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .case-vandute-wrapper button:hover {
    background-color: #45a049;
  }
  