
html,
.slider-wrapper {
  position: relative;
  height: 100%;
}

.slider-wrapper {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  position: relative;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%); 
}



.text-overlay {
  position: absolute;
  bottom: 70px; /* Ajustează acest lucru pentru a poziționa textul la înălțimea dorită */
  left: 100px;
  
  text-align:start;
  color: white; /* Ajustează culoarea textului pentru vizibilitate */
}

.text-overlay h2{
  color: #bfa282;
  font-size: 2rem;
}

.text-overlay p{
  font-size: 1.6rem;
}
.text-overlay h2,
.text-overlay p {
  margin: 0;
  padding: 0;
}

/* Stilizează săgețile */
.swiper-button-prev,
.swiper-button-next {
color: #bfa282 /* Schimbă culoarea săgeților */
}

/* Stilizează butoanele de navigare */
.swiper-button-prev,
.swiper-button-next {
width: 25px; /* Ajustează dimensiunea butoanelor */
height: 25px;
background-color: rgb(255, 255, 255); /* Schimbă culoarea fundalului butoanelor */
border-radius: 50%; /* Rotunjirea colțurilor pentru un aspect mai plăcut */
opacity: 0.7; /* Opacitate pentru vizibilitate */
}

/* Stilizează iconițele săgeților */
.swiper-button-prev::after,
.swiper-button-next::after {
font-size: 12px; /* Ajustează dimensiunea iconițelor */
}

/* Stilizează butoanele de navigare atunci când sunt hoverate */
.swiper-button-prev:hover,
.swiper-button-next:hover {
opacity: 1; /* Opacitate mai mare la hover */
}



/* Stilizează bulinele individuale */
.swiper-pagination-bullet {
width: 10px;
height: 10px;
background-color: rgb(255, 255, 255); /* Schimbă culoarea bulinelor */
margin: 0 5px; /* Spațiere între buline */
border-radius: 50%; /* Rotunjirea colțurilor pentru a le face rotunde */
opacity: 0.7; /* Opacitate pentru vizibilitate */
}

/* Stilizează bulinele atunci când sunt active (curent selectate) */
.swiper-pagination-bullet-active {
background-color: #bfa282; /* Schimbă culoarea bulinei active */
}

/* Stilizează bulinele atunci când sunt hoverate */
.swiper-pagination-bullet:hover {
opacity: 1; /* Opacitate mai mare la hover */
}

.info-config {
width: 100%;
height: 70vh;
border: 1px solid #bfa282;
overflow-y: scroll;
background: linear-gradient(135deg, #1a1a1a, #000000);
  color: #ffffff; /* Text color for contrast */
}


.info-config::-webkit-scrollbar {
width: 12px; /* width of the entire scrollbar */
}

.info-config::-webkit-scrollbar-track {
background: #000000; /* color of the scrollbar track */
}

.info-config::-webkit-scrollbar-thumb {
background-color: #bfa282; /* color of the scrollbar thumb */
border-radius: 6px; /* roundness of the scrollbar thumb */
border: 3px solid #bfa282; /* creates padding around thumb */
}

.info-config::-webkit-scrollbar-thumb:hover {
background: #555; /* color of the scrollbar thumb when hovered */
}



.info-content {
padding: 20px 50px;
}

.info-content h1{
margin: 40px 0px;
color: #bfa282;
}

.info-content h2{
margin: 20px 0px;
color: #ffffff;
}

.info-content h3{
margin: 10px 0px;
color: #bfa282;
}

.project-description-wrapper {
    margin-top: 20px;
  }
  
  .project-description-wrapper h2 {
    margin: 10px 50px;
    color: #bfa282;
    font-size: 2.5rem;
  }
  
  .project-description-wrapper h3 {
    margin: 10px 50px;
    font-size: 2rem;
  }
  
  .project-description-wrapper h3 {
    white-space: pre-wrap; /* Păstrează spațierile și liniile noi */
    word-wrap: break-word; /* Permite împărțirea cuvintelor la marginile containerului */
  }
  .table-container {
    width: 100%;
    max-width: 1024px; /* Setează lățimea maximă a tabelului */
    overflow-x: auto; /* Adaugă scrollbar lateral */
    margin: auto; /* Centrează containerul tabelului */
  }
  
  .apartments-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .apartments-table th,
  .apartments-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .apartments-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }



@media screen and (max-width: 1024px) {
.text-overlay {
  bottom: 70px; /* Ajustează acest lucru pentru a poziționa textul la înălțimea dorită */
  left: 60px;
  
}

.text-overlay h2{
  
  font-size: 1.6rem;
}

.text-overlay p{
  font-size: 1.2rem;
}

.slider-wrapper {
  
  height: 80vh;
}

.project-description-wrapper h2 {
  
  font-size: 2rem;
}

.project-description-wrapper h3 {
  
  font-size: 1.5rem;
}

}

@media screen and (max-width: 600px) {
.text-overlay {
  bottom: 50px; /* Ajustează acest lucru pentru a poziționa textul la înălțimea dorită */
  left: 30px;
  right: 30px;
  
}

.text-overlay h2{
  
  font-size: 1.4rem;
}

.text-overlay p{
  font-size: 1rem;
}

.slider-wrapper {
  padding-top: 50px;
  height: 100vh;
}

.info-config {
  height: 90vh;
}

.project-description-wrapper h2 {
  
  font-size: 1.6rem;
}

.project-description-wrapper h3 {
  
  font-size: 1.2rem;
}

}

/* Adaugă aceste stiluri la finalul fișierului CSS */
.row-available {
  background-color: #d4edda; /* Verde deschis pentru disponibil */
}

.row-unavailable {
  background-color: #f8d7da; /* Roșu deschis pentru indisponibil */
}
